---
layout: default
title: Categories
keywords: Chan blog,Categories
---

<div class="lotus-article rpost">
	<p class="lotus-breadcrub">
        <a href="/index.html" rel="nofollow" rel="nofollow" title="首页">Home</a>
        <span> &gt; </span>
        {{ page.title | replace: page.title,'标签' }}
    </p>
    <hr>
	<div class="article">
		<div class="tags">
			<h3 class="title">{{ page.title | replace: page.title,'Tags' }} </h3>
		    <p class="categories">
		    {% assign categories_list = site.categories %}
		    {% for category in categories_list %}
		    	<a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref">
		            {{ category[0] | join: "/" }}<em>({{ category | last | size }})</em>
		        </a>
		    {% endfor %}
		</div>
	    </p>
		<div class="article">
		{% for category in site.categories %} 
			<ul>
				<li>
					<h3 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h3>
					<ul>
					    {% assign pages_list = category[1] %}  
					    {% for node in pages_list %}
					    	{% if node.title != null %}
					        	{% if group == null or group == node.group %}
					            	<li>{{ node.date | date: "%Y-%m-%d" }}&nbsp;&raquo; <a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
					        	{% endif %}
					     	{% endif %}
					    {% endfor %}
				  </ul>
				</li>
			</ul>
		{% endfor %}
		</div>
	</div>
</div>